/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
check_db.php
check_query.php
